<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <!-- Logo -->
       <a class="navbar-brand d-flex flex-wrap align-items-center justify-content-between" href="{{ path('app_home') }}">
            <img src="{{ asset('build/images/Logo.webp') }}" alt="BayAlamo Logo" class="img-fluid me-2" style="height: 60px;">
            <span class="fw-bold fs-4 text-primary">BayAlamo</span>
        </a>

        <!-- Menu burger -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Menu -->
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav text-center">
                <li class="nav-item">
                    <a class="nav-link" href="#">Cours</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Planning</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tarifs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>

                <!-- Section connexion ADMIN -->
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link text-danger" href="{{ path('admin') }}">Administration</a>
                    </li>
                {% endif %}

                <!-- Bouton Connexion intégré au menu burger -->
                <li class="nav-item d-lg-none">
                    <a class="nav-link btn btn-primary text-white px-4 mt-2" href="{{ path('app_login') }}">
                        Connexion
                    </a>
                </li>
            </ul>
        </div>

        <!-- Bouton Connexion visible uniquement sur écrans larges -->
        <a class="btn btn-primary d-none d-lg-block ms-auto" 
        href="{{ path('app_login') }}" 
        data-aos="fade-left" 
        data-aos-duration="600" 
        data-aos-delay="100">
        Connexion
        </a>
    </div>
</nav>






