{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="registration-container">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger registration-flash">{{ flash_error }}</div>
        {% endfor %}

        <h1 class="registration-title">Créer un compte</h1>

        <div class="registration-form-wrapper">
            <div class="registration-form-container">
                {{ form_start(registrationForm, {'attr': {'class': 'registration-form'}}) }}

                <div class="registration-form-group">
                    {{ form_label(registrationForm.email, 'Adresse email', {'label_attr': {'class': 'registration-label'}}) }}
                    {{ form_widget(registrationForm.email, {'attr': {'class': 'registration-input'}}) }}
                    {{ form_errors(registrationForm.email) }}
                </div>

                <div class="registration-form-group">
                    {{ form_label(registrationForm.firstName, 'Prénom', {'label_attr': {'class': 'registration-label'}}) }}
                    {{ form_widget(registrationForm.firstName, {'attr': {'class': 'registration-input'}}) }}
                    {{ form_errors(registrationForm.firstName) }}
                </div>

                <div class="registration-form-group">
                    {{ form_label(registrationForm.lastName, 'Nom de famille', {'label_attr': {'class': 'registration-label'}}) }}
                    {{ form_widget(registrationForm.lastName, {'attr': {'class': 'registration-input'}}) }}
                    {{ form_errors(registrationForm.lastName) }}
                </div>

                <div class="registration-form-group">
                    {{ form_label(registrationForm.plainPassword, 'Mot de passe', {'label_attr': {'class': 'registration-label'}}) }}
                    {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'registration-input'}}) }}
                    {{ form_errors(registrationForm.plainPassword) }}
                </div>

                <div class="registration-form-group registration-terms">
                    {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'registration-checkbox'}}) }}
                    {{ form_label(registrationForm.agreeTerms, 'J\'accepte les termes et conditions', {'label_attr': {'class': 'registration-label-checkbox'}}) }}
                    {{ form_errors(registrationForm.agreeTerms) }}
                </div>

                <button type="submit" class="registration-submit">S'inscrire</button>

                <a href="/login" class="registration-login-link">Déjà inscrit ? Se connecter</a>

                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}


